<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Flex{% endblock %}</title>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block stylesheets %}
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
